{% extends "starter.html" %}

{% block content1 %}

    <div class="container-fluid">
        <div class="row" style="margin-top: 80px">
            <div class="col-md-2">
                <!-- Left navigation bar-->
                <ul class="nav flex-column" style="font-family: 'Roboto Light'">
                    <!-- Library section-->
                    <p class="text-uppercase" style="margin-top: 5px; margin-bottom: 5px">Library</p>
                    <li class="nav-item">
                        <a class="nav-link active" href="/playlists"><img
                                style="height: auto; width: 13px; margin-right: 10px"
                                src="https://img.icons8.com/ios/1600/video-playlist.png"> Playlists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><img style="height: auto; width: auto; margin-right: 10px"
                                                          src="https://raw.githubusercontent.com/Kislyonkova/PSA-group-project/master/images/app/music-icon.png">
                            Songs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><img style="height: auto; width: 15px; margin-right: 10px"
                                                          src="https://raw.githubusercontent.com/Kislyonkova/PSA-group-project/master/images/app/mic_525419.png">Artists</a>
                    </li>
                    <div class="dropdown-divider"></div>

                    <!-- Explore section needs further editing-->
                    <p class="text-uppercase" style="margin-top: 20px; margin-bottom: 5px">Explore</p>
                    <li class="nav-item">
                        <a class="nav-link" href="/"><img style="height: auto; width: auto; margin-right: 10px"
                                                          src="https://raw.githubusercontent.com/Kislyonkova/PSA-group-project/master/images/app/explore-icon.png">Feed</a>
                    </li>
                </ul>
                <!-- End of left navigation bar-->
            </div>

            <div class="col-md-10">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}